<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Answers: One Variable Stats</title>
</head>
<body>
	<h1>Answers: One Variable Stats</h1>
	<hr/>
	<p>1) {{ question1.prompt }}<br/>Correct answer: {{ solution1 }}<br/>Your answer: {{ answer1 }}<br/>{{ results1 }}</p>
	<hr/>
	<p>2) {{ question2.prompt }}<br/>Correct answer: {{ solution2 }}<br/>Your answer: {{ answer2 }}<br/>{{ results2 }}</p>
	<hr/>
	<p>3) {{ question3.prompt }}<br/>Correct answer: {{ solution3 }}<br/>Your answer: {{ answer3 }}<br/>{{ results3 }}</p>
	<hr/>
	<p>4) {{ question4.prompt }}<br/>Correct answer: {{ solution4 }}<br/>Your answer: {{ answer4 }}<br/>{{ results4 }}</p>
	<hr/>
	<p>5) {{ question5.prompt }}<br/>Correct answer: {{ solution5 }}<br/>Your answer: {{ answer5 }}<br/>{{ results5 }}</p>
	<hr/>
	<p>6) {{ question6.prompt }}<br/>Correct answer: {{ solution6 }}<br/>Your answer: {{ answer6 }}<br/>{{ results6 }}</p>
	<hr/>
	<a href="/one_variable_stats">More One Variable Stats Questions...</a>
	<br/>
	<a href="/">Home...</a>
</body>
</html>